* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("img/patt.png");
}

h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    flex: 0 0 25%;
    min-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    min-width: 50%;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.75);
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}
.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#2c71b8;
    font-size: 21px;
}
.menu a:hover {
    background-color: #2c71b8;
    color:white;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 200px;
    margin-top: 6px;
    border: 1px solid #2c71b8;
}

.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    height: 30px;
    width: 130px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    color: #2c71b8;
    font-size: 21px;
    outline: none;
}

::-webkit-input-placeholder { 
    color: #2c71b8;
}

.search-button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: #2c71b8;
    background-image: url("img/find-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.basket {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    background-color: #fff;
    background-image: url("img/cart.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.basket-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;

    position: relative;
    left: -10px;
    top: -10px;
}

.active-menu > a {
    position: relative;
    /* background-color: #2c71b8;
    color: #fff; */
}

.active-menu {
    position: relative;
}

.active-menu > a::after {
    content: "";
    display: none;
    position: absolute;
    top: 15px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.active-menu:hover > a::after {
    display: block;
}

.active-menu ul {
    position: absolute;
    display: none;
    width: 285px;
    left: -1px;
}

.menu li:hover a {
    background-color: #2c71b8;
    color: #fff;
}

.menu ul li:hover a {
    background-color: #fff;
    color: #2c71b8;
}

.menu ul a {
    color: #fff;
    text-align: left;
    padding-left: 30px;
    background-color: #2c71b8;
    width: 285px;
}

.menu li:hover ul {
    display: block;
}

/* Styles for MAIN -------------------------*/

.slider {
    height: 400px;
    background-color: rgba(35, 90, 147, 0.75);
    border-bottom: 1px solid #fff;
}

.slider-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* padding: 0 15px; */
}

/* START FILTER -------------*/
.filter {
    width: 270px;
    height: 845px; /* temporarily */
    background-color: rgba(255,255,255,0.25);
    margin: 0 15px;
    padding: 30px;
    min-width: 270px;
}

.properties {
    margin-bottom: 65px;
}

.filter h3 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

.property-value {
    margin-bottom: 25px;
}

.filter input[type="checkbox"] {
    opacity: 0;
}

.filter label {
    position: relative;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    cursor: pointer;
}

.property-value label::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;

    position: absolute;
    left: -20px;
    top: 6px;
}

input[type="checkbox"]:checked + label:before {
    background-color: #fff;
}

/* END FILTER ---------------*/

.breadcrumbs {
    margin: 30px 15px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #96b8dc;
    font-size: 14px;
    font-weight: light;
}

.breadcrumbs a:last-child {
    text-decoration: underline;
}

.breadcrumbs a::after {
    content: ">";
    margin: 0 8px;
}

.breadcrumbs a:last-child::after {
    content: "";
    margin: 0;
}

.header-container {
    display: flex;
    width: 870px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.form-sort-by {
    height: 40px;
    width: 270px;
    border: 1px solid #fff;
}

#sort-by {
    height: 38px;
    width: 268px;
    border: none;
    background-color: #2c71b8;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 100;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
}

.products-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
}

.product {
    height: 650px;
    width: 270px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    border: 1px solid #fff;
}

.product-img-block {
    position: relative;
    height: 180px;
    line-height: 180px;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
}

.product-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pic-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
    position: absolute;
    top: 10px;
    right: 10px;
}

.pic {
    width: 30px;
    height: 30px;
    border: 1px solid #548cc5;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pic-1 {
    background-image: url("img/frame-blue.png");
}

.pic-2 {
    background-image: url("img/heart.png");
}

.pic-2:hover {
    background-color: #2c71b8;
    background-image: url("img/white-heart.png");
    cursor: pointer;
}

.product-info-block {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}

.product p {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
}

.property {
    color: #fff;
    font-size: 21px;
    margin-bottom: 15px;
}

.property:last-child {
    margin-bottom: 0;
}

.property-name {
    font-weight: 700;
}

.property-value {
    font-weight: 300;
}

.product-price {
    height: 100px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 100px;
    text-align: center;
}

.more-details {
    height: 50px;
    width: 210px;
    background-color: #2c71b8;
    border: 1px solid #fff;
    color: #fff;
    font-size: 21px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-to-cart {
    height: 50px;
    width: 210px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size: 21px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 15px;
}

.more-details a, .add-to-cart a {
    position: relative;
    color: #fff;
    font-size: 21px;
    line-height: 50px;
    font-weight: 700;
    text-decoration: none;
}

.add-to-cart a::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;

    background-image: url("img/white-cart.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

.diagonal-line {
    background-image:   linear-gradient(to bottom right, transparent 49.50%, #fff, transparent 50.50%), 
                        linear-gradient(to top right, transparent 49.50%, #fff, transparent 50.50%);
  }

.load-more {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 90px;
    margin-left: 15px;
    margin: 0 auto;
}

.load-more a {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
}